DataProcessing/**/.vscode
**/.DS_Store
DataProcessing/**/.idea/
DataProcessing/**/target/
DataProcessing/**/*.iml
DataProcessing/**/sources/


*.jpg
*.pyc
**/.ipynb_checkpoints/

DataMining/data/faces/lfw_funneled/
DataMining/data/faces/faces.tgz

DeepLearning/_pycache_