BigDataProcessing/**/.vscode
**/.DS_Store
BigDataProcessing/**/.idea/
BigDataProcessing/**/target/
BigDataProcessing/**/*.iml
BigDataProcessing/**/sources/


*.jpg
*.pyc
**/.ipynb_checkpoints/

DataMining/data/faces/lfw_funneled/
DataMining/data/faces/faces.tgz

DeepLearning/_pycache_